[Unit]
Description={{ mattermost_service.Description }}
After={{ mattermost_service.After }}
After={{ mattermost_service.BindsTo }}
BindsTo={{ mattermost_service.BindsTo }}

[Service]
Type=notify
ExecStart={{ mattermost_service.ExecStart }}
TimeoutStartSec=3600
KillMode=mixed
Restart=always
RestartSec=10
WorkingDirectory={{ mattermost_service.WorkingDirectory }}
User={{ mattermost_service.User }}
Group={{ mattermost_service.Group }}
LimitNOFILE=49152

[Install]
WantedBy={{ mattermost_service.WantedBy }}